@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

/* 전체 적용 */
footer {
	position: relative;
	display: flex;
	flex-direction: column;
}

.footer_common a {
	text-decoration: none;
}

.footer_common ul {
	list-style: none;
}

.footer_common li {
	list-style: none;
}


/* 관련 사이트 */
.flayer1 {
	border-bottom: #ddd solid 1px;
	height: 34px;
	text-align: center;
	padding: 5px 0px;
	white-space: nowrap;
	display: flex;
	justify-content: right;
}

.flayer1 a {
	padding: 0px 14px;
	font-size: 14px;
	color: #555;
	height: 12px;
}

.footer-site-picker {
	position: relative;
	font-size: 14px;
	display: inline-block;
	text-align: left;
	margin-top: -9px;
	color: #212b36;
	margin-left: 5px;
}

.dropbtn {
	height: 30px;
	border: 1px solid #c4cdd5;
	display: flex;
	align-items: center;
	width: 180px;
	border-radius: 3px;
	padding: 12px 14px;
	box-sizing: border-box;
	cursor: pointer;
	background-color: white;
	flex-direction: row;
	justify-content: space-between;
}

.site-picker-arrow {
	display: inline-block;
	width: 14px;
	height: 14px;
	background-color: #333;
	-webkit-mask-size: 100%;
	-webkit-mask-position: center;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-image:
		url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAxNCAxNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTExLjI0MTggNC41NTg2MkMxMS40NjI2IDQuMzIzOTcgMTEuODMxNyA0LjMxMjcyIDEyLjA2NjQgNC41MzM0OEMxMi4yODMgNC43MzcyNiAxMi4zMDkyIDUuMDY3NDkgMTIuMTM4NCA1LjMwMTY1TDEyLjA5MTUgNS4zNTgwNUw3LjQyNjU1IDEwLjMxNjRDNy4yMTI3MiAxMC41NDM3IDYuODYyMSAxMC41NiA2LjYyODY2IDEwLjM2NTJMNi41NzY5OCAxMC4zMTY1TDEuOTA4NjIgNS4zNTgyMUMxLjY4Nzc4IDUuMTIzNjUgMS42OTg5IDQuNzU0NDcgMS45MzM0NiA0LjUzMzYyQzIuMTQ5OTggNC4zMjk3NyAyLjQ4MTIgNC4zMjM1NiAyLjcwNDU4IDQuNTA4M0wyLjc1ODA1IDQuNTU4NDZMNy4wMDExNiA5LjA2NDk5TDExLjI0MTggNC41NTg2MloiIGZpbGw9IiMyMTJCMzYiLz4KPC9zdmc+Cg==);
}

.fdropdown-content {
	position: absolute;
	overflow: hidden;
	list-style: none;
	margin: 3px;
	padding: 10px 0;
	background: #fff;
	box-shadow: 0 1px 7px rgba(0, 0, 0, 0.26);
	top: 36px;
	left: 0;
	width: 180px;
	border-radius: 4px;
	display: none;
}

.fdropdown-content a {
	white-space: nowrap;
	text-decoration: none;
	display: block;
}

.footer-site-picker:hover .fdropdown-content {
	display: block;
}

.footer-site-picker:hover .site-picker-arrow {
	transform: rotate(180deg);
	transition: 0.3s;
}


/* 사업자 정보 */
.flayer2 {
	margin: 10px;
	font-size: 12px;
	color: #555;
	line-height: 150%;
	display: flex;
	flex-direction: row;
	text-align: center;
	justify-content: center;
}

.fseller-info {
	white-space: nowrap;
}

.flogo {
	width: 160px;
	margin: 10px;
}

.fseller-info_title {
	margin: 10px 0px 0px 0px;
	font-weight: bold;
}


/* Copyright */
.flayer4 {
	background-color: #f1f8fe;
	color: black;
}

.real-bottom {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 0px 10px;
	margin-top: 4px;
}

.fbottom {
	display: inline-block;
	padding-top: 9px;
	white-space: nowrap;
}
