@charset "UTF-8";

/* 공통코드 */
* {
	margin: 0px;
	padding: 0px;
}

header {
	font-family: sans-serif;
}

/* 공통코드 - 글자스타일 */
.header_every_a_font {
	font-size: 12px;
}


/* 공통코드 - 드롭다운 메뉴 */
.header_enter {
	display: none;
	position: absolute;
	background-color: white;
	font-size: 8pt;
	min-width: 130px;
	
	padding: 15px 20px;
	border: 1px solid #ddd;
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
	
	list-style-type: none;
	z-index: 1;
}

.header_dropdown_list:hover .header_enter {
	display: block;
}

.header_dropdown_list {
	display: inline-block;
}


/* 최상단 메뉴 */
.header_top_bar {
	width: 100%;
	height: 30px;
	display: flex;
	justify-content: space-around;
	padding: 2px;
	white-space: nowrap;
	background-color: #f1f8fe;
}

.header_top_section {
	width: 60%;
	display: flex;
	justify-content: end;
}

.header_menu {
	margin: 3px 0px;
}

.header_outer_ul {
	list-style-type: none;
	display: flex;
	margin-left: 70px;
	font-size: 11px;
}

.header_outer_ul a {
	margin: 5px;
	padding-top: 10px;
	color: black;
	text-decoration: none;
}


/* 중간 메뉴 */
.header_middle_section {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* @media (min-width: 1300px) {
	.header_top_section {
		justify-content: center;
	}
} */

.header_content {
	width: 60%;
	display: flex;
	align-items: center;
}


/* 카테고리 */
.header_category {
	width: 110px;
	height: 100%;
	margin: 0px 10px;
	padding-left: 0px;
}

.header_category .header_enter {
	/* min-width: 160px; */
	padding: 15px 10px;
}

.header_category .header_enter li {
	margin: 10px 0px;
}

.header_category .header_enter a {
	margin: 10px;
	color: black;
	text-decoration: none;
}

.header_category_img:hover {
	color:#0073e9;
	text-decoration: underline;
}

.header_category_img {
	width: 110px;
	height: 100%;
}

.header_left_category_icon {
	width: 20px;
	height: 20px;
	margin-right: 5px;
}


/* 로고 */
.header_title {
	margin: 0px 10px 0px 20px;
}

.header_logo {
	width: 174px;
	height: 41px;
	margin: 15px;
}


/* 검색창 */
.header_search_product {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 2px solid #60b0ea;
	background-color: white;
	width: 430px;
	height: 40px;
	margin-right: 40px;
}

.header_text_search {
	height: 20px;
	width: 270px;
	border: 0px;
	outline: none;
	margin: 10px;
}

.header_search_img {
	border: 0px;
	height: 20px;
	width: 20px;
	margin: 4px;
}


/* 마이메뉴 */
.header_my_menu {
	display: flex;
	margin-right: 10px;
}

.header_my_cart {
	display: flex;
	margin-left: 10px;
}

.header_my_a {
	display: flex;
	flex-direction: column;
	margin: 0 15px;
	color: black;
	text-decoration: none;
}

.header_my_icon {
	width: 40px;
}


