@charset "UTF-8";

* {
	margin: 0px;
	padding: 0px;
}		

/* 전체 상품목록 페이지 */
#container{
	display: flex;
	flex-direction: column;
	/* flex-wrap: wrap; */
}

#container aside{
	font-size: 80%;
	width: 220px;
}

#container a{
	color: black;
	text-decoration: none; 
}

#container a:visited{
	color: black;
}

#container a:hover{
	color: #60b0ea;
	text-decoration: none; 
}

#container aside>div{
	width: 180px;
	font-family: "맑은고딕";
	padding: 5px 0px;
}

.productGroupSection{
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 0px 290px;
}


/* 왼쪽 사이드 메뉴 전체 */
.left_side_menu_border {
	border: 1px solid #F2F2F2;
}

/* 사이드메뉴 타이틀 */
.left_side_menu_title_font {
	font-size: 14px;
	font-weight: bold;
	margin: 10px;
}

/* 아코디언메뉴 */
.accordion {
	display: flex;
	background-color: white;
	padding: 5px;
	width: 179px;
	text-align: left;
	outline: none;
	font-size: 12.8px;
	transition: 0.4s;
	cursor: pointer;
	font-weight: bolder;
}

.accordion:hover {
	color : #60b0ea;
}

.arrow_img {
	transition : transform 1s;
	width: 12px;
	height: 12px;
	margin: 15px 5px;
}

/* 아코디언 메뉴 열렸을 때 */
.panel {
  display: none;
  background-color: white;
  overflow: hidden;
}

.side_menu_list {
	margin: 15px;
	font-size: 12px;
}

.side_menu_list:hover{
	color:#0073e9;
}


/* 상품정렬순 선택 */
.order_by_list {
	margin: 10px;
	background-color: #f1f8fe;
	font-size: 13px;
}


/* .order_by_list {
	display: flex;
	flex-direction: row;
	list-style: none;
	background-color: #F2F2F2;
	white-space: nowrap;
}

.order_by_list:hover{
	color:#0073e9;
}

.order_by_list >li{
	display: inline;
	background-color: #F2F2F2;
	padding: 0px 10px 0px 0px;
}

.order_by_list >li>a:hover{
	color:#0073e9;
}

.order_by_list >li>a{
	color: #555555;
	font-size: 12px;
}

.inner_order_by_list {
	display: flex;
}
 */

/* 상품목록 */
.item-list{
	flex-wrap: wrap;
	display: flex;
	flex-direction: row; 
	padding: 10px;
}

.item-list a{
	width: 300px;
	height: 430px;
}

.item-list .product .img .image{
	width: 212px;
	height: 212px;
	padding: 25px;
}

.item-list .product .text{
	font-size: 11px;
	font-family: "맑은고딕";
}

.item-list .product .product-price{
	font-size: 15px;
	font-family: "맑은고딕";
	padding: 5px;
	color: black;
	text-decoration-line: none;
}

.item-list .product .product-price .real-price{
	font-size: 20px;
	color: #cb1400;
	font-family: "맑은고딕";
	text-decoration-line: none;
}

.productGroup {
	height: 280px;
	width: 280px;
}

.pproduct {
	padding: 10px;
	border: 2px double #F2F2F2;
}

.pproduct:hover {
	  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	  -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	  -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	  transition:all .4s;
}

.productGroup-name {
	font-size: 15px;
	font-weight: bolder;
}

.productGroup-orgprice {
	display: flex;
	text-decoration: line-through;
	color: #60b0ea;
	font-size: 12px;
}

.productGroup-prdprice {
	display: flex;
	font-size: 14px;
	font-weight: bolder;
	color: #cb1400;
}


/* 검색결과 없는 경우 */
.product_not_found_container {
	text-align: center;
	margin: 50px 0px;
}

.product_not_found_img_container {
	margin: 20px 0px;
}

.product_not_found_img {
	width: 234px;
}

.product_not_found_text_1 {
	display: block;
	font-size: 16px;
}

.product_not_found_text_2 {
	display: block;
	font-size: 14px;
	color: #555;
}






