@charset "UTF-8";

/* 공통코드 */
* {
	margin: 0px;
	padding: 0px;
}
/*회원정보수정*/
table {
    width: 100%;
    border-top: 1px solid #444444;
    border-collapse: collapse;
  }
th, td {
    border-bottom: 1px solid #444444;
    border-left: 1px solid #444444;
    padding: 20px;
  }
th:first-child, td:first-child {
    border-left: none;
  }
  
/*나가기버튼*/
.cancel-button{
	margin: 0 auto;
	width: 80px;
	height: 50px;
}

/* 미디어쿼리 */
/* 태블릿 디바이스 (가로 해상도가 768px보다 크고 991px 보다 작은 화면에 적용) */
@media (min-width: 768px) and (max-width: 991px) {
	.order_content {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	.my_order_container {
		width: 500px;
		height: 210px !important;
	}
	
	.my_view {
		display: none;
	}
} 

/* 가로모드 모바일 디바이스 (가로 해상도가 576px보다 크고 768px 보다 작은 화면에 적용) */
@media (min-width: 576px) and (max-width: 767px) {
	.order_content {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	.my_order_container {
		width: 500px;
		height: 210px !important;
	}
	
	.my_view {
		display: none;
	}
}


/* 부트스트랩 화이트 색상 -> 블랙으로 변경 */
.my_order_text_color {
	color: black;
}

.my_order_text_style {
	font-weight: bold;
}

.my_order_text_size {
	font-size: 13px;
}

.order_list_container {
	display: flex;
	justify-content: center;
}

.order_list_container a:visited {
	text-decoration: none !important;
}


/* 전체내용 */
.order_list_wrap {
	display: flex;
}

.order_list_wrap ul {
	list-style-type: none;
}


/* 네비게이터, 메인 컨테이너 */
.upper_my_menu_content {
	width: 913px;
	margin: 0px 30px;
}


/* 네비게이터, 메인 */
.order_content {
	margin: 0px 0px 50px 10px;
}


/* 네비게이터 */
.navbar.bg-primary {
	border: none;
}

.my_order_container {
	height: 100px;
}


/* 주문목록 타이틀 */
.my_order_title {
	font-weight: bold;
	margin: 30px 10px 30px 30px;
}
/* 우측 사이드 */
/* 장바구니 */
.my_view {
	width: 102px;
	margin-top: 10px;
}

.my_view_cart {
	height: 33px;
	background: url("//img1a.coupangcdn.com/image/coupang/common/bg_side_sprite.png") no-repeat -31px 0;
	cursor: pointer;
	overflow: hidden;
}

.cart_count {
	height: 33px;
	padding: 0 14px 0 0;
	font: bold 12px 'Arial';
	color: #3abbff;
	line-height: 33px;
	display: flex;
	justify-content: end;
}

.recent_viewed_list {
	position: relative;
	padding: 10px;
	background-color: #fff;
	border: 1px solid silver;
	border-top: 0;
}

.recent_viewed_page {
	display: block;
	height: 328px;
	list-style: none;
	padding-left: 0px
}

.recent_viewed_page li {
	position: relative;
	width: 76px;
	height: 76px;
	margin-bottom: 8px;
}

/* 마우스 오버하는 경우  */
.over {
	position: absolute;
	right: 0;
	top: 0;
	width: 217px;
	height: 72px;
	border: 2px solid #343c53;
	background: #f1f1f1;
	overflow: hidden;
	cursor: pointer;
}

.over_el {
	display: block;
	float: left;
}

.fixed_delete_recent {
	position: fixed;
	right: 10px;
	top: 10px;
	z-index: 1000;
}

.over_img {
	float: right;
	margin: -2px -2px 0 0;
}

.recent_viewed_page a {
	text-decoration: none;
}

.recent_viewed_page img {
	display: block;
	width: 74px;
	height: 74px;
	border: 1px solid #eee;
}

.p_name {
	display: none;
	float: left;
	width: 120px;
	padding: 19px 0 0 10px;
	font-size: 11px;
	color: #55575f;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.p_price {
	display: none;
	float: left;
	width: 120px;
	padding: 6px 0 0 10px;
	font-weight: blod;
	font-size: 12px;
	color: #0096e4;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.sale_price {
	font: bold 15px Arial;
}

.delete_recent {
	display: none;
	position: absolute;
	right: 0;
	top: 0;
	width: 13px;
	height: 13px;
	background: url("//img1a.coupangcdn.com/image/coupang/common/bg_side_sprite.png") no-repeat 0 -32px;
	cursor: pointer;
}


/* 사이드바(스크롤 내려간 경우에만 나타남) */
.side_bar_grp {
	display: none;
	padding: 5px 0 0 0;
	position: fixed;
	left: 50%;
	top: 454px;
	margin-left: 505px;
	
	z-index: 9999;
}

.sideBtn {
	width: 50px;
	background-image: url('//img1a.coupangcdn.com/image/coupang/common/bg_side_sprite.png');
	background-repeat: no-repeat;
	display: block;
	color: transparent;
	height: 32px;
	text-decoration: none;
}

#side_top {
	background-position: -150px 0px;
}

#side_up {
	background-position: -150px -33px;
}

#side_down {
	background-position: -150px -65px
}
